@import "~foundation-sites/scss/foundation";
@include foundation-everything(true);

html, body {
  background-color: rgb(253,253,253);
}

body {
  border-top: 5px solid #333;
  padding-top: 30px;
}

#app {
  padding-bottom: 20px;
}

ul.unstyled {
  list-style: none;
  margin-left: 0;
}

.no-mb {
  margin-bottom: 0;
}

.mr15 { margin-right: 15px; }
.mt30 { margin-top: 30px; }
