.circleprogress-component {
  &.complete {
    .circle.filled {
      background: rgb(63, 173, 97);
    }
  }

  .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;

    &:not(:last-child) {
      margin-right: 4px;
    }

    &.filled {
      border: 0;
      background: #EFA217;
    }
  }
}
