.reflection-collection--header {
  font-weight: 500;
  font-size: 1.1em;
}

.reflection-collection--show-body {
  margin-left: 18px;
  color: #777;
  font-size: 0.8rem;
}

.reflection-collection--reflection {
  h5 {
    border-bottom: 1px dotted #ccc;
  }

  p {
    margin-bottom: 0;
  }
}
