.theme-reflection--wrapper {
  border: 1px solid #eee;
  height: 85vh;

  .quill {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-bottom: 14px;
  }

  .quill-contents {
    display: flex;
    flex-grow: 1;
    height: auto;
  }

  .ql-editor {
    flex-grow: 1;
  }
}
