.reflection--header {
  font-size: 1.325rem;
  border-bottom: 1px dotted #ccc;
}

.reflection--intro-text {
  margin-bottom: 2rem;
}

.reflection-themes--item-close {
  float: right;
  opacity: 0.5;
  cursor: pointer;
}

.reflection-themes--button-wrapper {
  text-align: center;
}

.reflection-themes--form {
  input {
    height: 2.4375rem; // override so that the submit button doesn't push the pixel height
  }

  .input-group-field {
    border-right: none !important;
  }
}
